<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-plus-round" ng-click="addPlayer()"></button>
</ion-nav-buttons>

<ion-view title="Spielblock">
  <ion-content>

    <div ng-show="data.players.length === 0">
      Bitte füge mit <span class="icon ion-plus-round"></span> einen Spieler hinzu
    </div>

    <div ng-show="data.players.length > 0" class="list">
      <div class="row responsive-sm item item-icon-left">
        <div class="col col-10"><span class="icon ion-person-stalker"></span></div>
        <div class="col" ng-repeat="player in data.players">
          <input type="text" ng-model="player.name" />
        </div>
      </div>

      <div class="row responsive-sm item" ng-repeat="round in data.rounds">
        <div class="col col-10">
          <span ng-show="round.number < data.rounds.length">{{round.number}}</span>
          <button class="button button-stable" ng-show="round.number === data.rounds.length" ng-click="addRound()">+</button>
        </div>
        <div class="col" ng-repeat="score in round.scores">
          <input type="number" ng-model="score.score" />
        </div>
      </div>

      <div class="row responsive-sm item">
        <div class="col col-10">
            <span ng-show="data.rounds.length > 0">Summe</span>
        </div>
        <div class="col" ng-repeat="player in data.players">
          {{ getScoreSum($index) }}
        </div>
      </div>      

    </div>

  </ion-content>
</ion-view>
