/feature.png
/icon.png
/icon.xcf
/icon_77762.png
/www/css/ionic.app.css
/www/css/ionic.app.min.css
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.DS_Store